* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}
body {
    height: 100vh;
    background: linear-gradient(rgba(203,28,28,1) 0%, rgba(255,50,0,1) 50%, rgba(203,28,28,1) 100%);
}

nav {
    background-color: gold;
    display: flex;
    padding: 0.5rem;
    align-items: center;
}

nav li{
    display: inline-block;
    font-size: 1.5rem;
    margin-inline: 0.5rem;
    align-self: center;
}

.site-title {
    font-size: 3rem;
    flex: 1;
}

.loading {
    width: 100px;
    height: 100px;
    border: 20px solid white;
    border-top: 20px solid black;
    border-radius: 50%;
    animation: loadingIcon 1.5s linear infinite;
    transform: rotateZ(0deg);
}

@keyframes loadingIcon {
    0% {
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}